@import './../../main/header/header.component.scss';
section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 999;
    flex-direction: column;
    gap: 8px;
}

.header-link {
    text-align: center
}

.translate-container {
    display: flex;
    gap: 4px;
}

.translate-logo {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}