<section>
    <div class="text-container">
        <!-- <h1>Hey there</h1>
        <span class="text"> Als Webentwickler fokussiere ich mich auf die Schaffung intuitiver Benutzeroberflächen mittels JavaScript und Angular. Mein beruflicher Weg hat mich von der Programmierung in Java zur Front- und Backend-Entwicklung geführt,
        wobei ich mein Fachwissen stets durch kontinuierliche Weiterbildung in aktuellen Webtechnologien erweitere. Teamarbeit und die Verbesserung bestehender Prozesse sind für mich ebenso selbstverständlich wie das eigenständige Einarbeiten in neue
        Codes. Meine Zeit bei der Bundeswehr hat mir nicht nur ein starkes organisatorisches Fundament gegeben, sondern auch die Bedeutung von Technologie und IT-Sicherheit nahegebracht. puzzel In meiner Freizeit bilde ich mich an der Bootstrap Academy
        weiter, wo ich viele theoretische Grundlagen in allen Bereichen der IT lerne. Dies bietet einen guten Ausgleich zu meiner praktischen Arbeit. Zudem beschäftige ich mich mit YouTube und spiele gerne Strategiespiele, die lösungsorientierte Ansätze
        erfordern. lamp Während der Pandemie hatte ich Zeit, mich intensiv mit der Programmierung zu beschäftigen. Ich begann mit Karel und einfachen Java-Anwendungen und stellte schnell fest, dass mir das Programmieren liegt. Daher entschied ich mich,
        es professionell zu erlernen.
        </span> -->
        <h3 class="animated-text">
            <span data-final-text="H">H</span>
            <span data-final-text="i">i</span>
            <span data-final-text=" ">&nbsp;</span>
            <span data-final-text="t">t</span>
            <span data-final-text="h">h</span>
            <span data-final-text="e">e</span>
            <span data-final-text="r">r</span>
            <span data-final-text="e">e</span>
            <span data-final-text=",">,</span>
        </h3>

        <span>
I’m Hamish, currently I live in Sydney working as a senior product designer at Qwilr. My projects include UX design, UI animations, and icon illustration. Being comfortable with code allows me to rapidly prototype and validate experiences. If you’re interested in the tools and software I use check out my uses page.

In my spare time I like to practice Brazilian Jiu Jitsu, play video games, and make mods. I’m always down for hearing about new projects, so feel free to drop me a line.
        </span>
        <div class="button-section">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <polygon class="outer" points="2,2 22,12 2,22" fill="var(--secondary-color)"/>
                <polygon class="inner" points="2,9 18,12 2,15" />
            </svg>
            <span class="contact-me">Send me a message</span>
        </div>

    </div>
    <div class="img-container">
        <div class="header-container">
            <app-chevron-icon></app-chevron-icon>
            <span>About Me</span>
        </div>
        <div id="animation-container">
            <div id="animation"></div>
            <img id="bild" class="animated-image" src="./../../../../assets/hero-img/hero_img_01.png" alt="profiele">
        </div>
    </div>
</section>