<section id="contact-me" class="contact">

    <div class="header z-index10">
        <div class="horizontal-line"></div>
        @if (translateService.de) {
        <h2 class="section-heading">Sag Hallo</h2>
        }@if (translateService.en) {
        <h2 class="section-heading">Sey hello</h2>
        }
    </div>



    <div class="right-side  z-index10" data-aos="fade-left">
        <form #contactForm="ngForm" class="form-container" (ngSubmit)="onSubmit(contactForm)">

            <div class="width100p p8 ">
                <label for="">Name</label>

                <input type="text" minlength="3" name="name" [(ngModel)]="contactData.name" required #nameField="ngModel">
                <div class="h28px">
                    @if (translateService.de) {
                    <div class="error" *ngIf="(nameField.invalid && nameField.touched) || (contactForm.submitted && nameField.invalid)">
                        Gebe bitte einen Namen mit midestens 3 Zeichen ein.
                    </div> } @if (translateService.en) {
                    <div class="error" *ngIf="(nameField.invalid && nameField.touched) || (contactForm.submitted && nameField.invalid)">
                        Please enter a name with at least 3 characters.
                    </div> }
                </div>
            </div>
            <div class="width100p p8">
                <!-- <label for="email">E-Mail</label> -->
                <input type="email" placeholder="E-Mail" name="email" [(ngModel)]="contactData.email" required pattern="^(?![.%+])[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailField="ngModel" (focus)="onFocus()" (blur)="onBlur(emailField)" />
                <div class="h28px">
                    <div *ngIf="translateService.de">
                        <div class="error" *ngIf="(emailField.invalid && emailTouched && contactData.email.length > 0) || (contactForm.submitted && emailField.invalid)">
                            Gültige E-Mail ist erforderlich.
                        </div>
                    </div>
                    <div *ngIf="translateService.en">
                        <div class="error" *ngIf="(emailField.invalid && (emailField.touched || contactForm.submitted))">
                            A valid email is required.
                        </div>
                    </div>
                </div>
                <div class="animated-line" #line></div>
            </div>

            <div class="width100p p8 textarea-container">
                <!-- @if (translateService.de) {
                <label for="">Nachrichten Formular</label> }@if (translateService.en) {
                <label for="">Message</label> } -->
                <textarea name="message" minlength="20" [(ngModel)]="contactData.message" (input)="autoGrow($event)" required #messageField="ngModel" placeholder=" "></textarea>
                <label for="message" class="textarea-placeholder">Message</label>

                <div class="h28px">
                    @if (translateService.de) {
                    <div class="error" *ngIf="messageField.invalid  && messageField.touched">
                        Gebe bitte Midestens 20 Zeichen ein.
                    </div>}@if (translateService.en) {
                    <div class="error" *ngIf="messageField.invalid  && messageField.touched">
                        Please enter at least 20 characters.
                    </div>}


                </div>
            </div>

            <div class="data-agreement-section">
                <label class="custom-checkbox">
                        <input name="checkbox" type="checkbox" [(ngModel)]="isAgreed">
                        <div class="checkmark"></div>
                    </label> @if (translateService.de) {
                <div class="d-flex checkbox-text">
                    <span> Ich habe die </span>
                    <br>
                    <div class="police-container cursor-pointer" (click)="navigateToPolicy()">
                        &nbsp;Datenschutzrichtlinie&nbsp; </div><br>
                    <span> gelesen und stimme der Verarbeitung meiner Daten wie beschrieben zu.</span>
                </div>
                } @if (translateService.en) {
                <div class="d-flex checkbox-text">
                    <span> I've read the </span>
                    <br>
                    <div class="police-container" (click)="navigateToPolicy()">
                        &nbsp;Policy&nbsp; </div><br>
                    <span> and agree to the processing of my data as outlined.</span>
                </div>
                }
            </div>
            @if (translateService.de) {
            <button type="submit" [disabled]="!contactForm.valid || !isAgreed">
                    Nachricht senden
                </button> } @if (translateService.en) {
            <button type="submit" [disabled]="!contactForm.valid || !isAgreed">
                    Send message
                </button>}
        </form>
    </div>


    <div class="background-img"><img src="./assets/brackground-img/green_shadow3.svg" alt=""></div>
    <div *ngIf="isLoading" class="loading-container">
        @if (translateService.de) {

        <div class="loading-bar">
            Lädt...
        </div>
        } @if (translateService.en) {
        <div class="loading-bar">
            Loading...
        </div>}

    </div>
    <div (click)="torgleIsSending()" *ngIf="isSending" class="loading-container">
        <div class="sending-button">
            @if(isError){ @if (translateService.de) {
            <h1>Die Nachricht konnte nicht gesendet werden.</h1> } @if (translateService.en) {
            <h1>The message could not be sent.</h1> } } @if(!isError){ @if (translateService.de) {
            <h1>Die Nachricht wurde gesendet.</h1>
            } @if (translateService.en) {

            <h1>The message has been sent.</h1>> } }

            <!-- <app-button text="Close"></app-button> -->
        </div>
    </div>

    <div class="arrow-container">
        <div></div>
        <div (click)="layoutService.scrollToSection('hero')" class="arrow-img"></div>
    </div>
</section>