@import './../../../../styles.scss';
section {
    @include center-flex($align-items: baseline);
    @include column();
    position: relative;
    width: 100%;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-bar {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}

.h16px {
    height: 16px;
}

.h28px {
    height: 28px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 65%;
    align-items: center;
}

.error {
    color: red;
    padding: 8px
}

.error-line {
    background-color: red !important;
}

.right-side {
    width: 100%;
    @include center-flex();
    @include column();
    a,
    span {
        white-space: nowrap;
    }
    input,
    textarea {
        border: var(--second-main-color) solid 2px;
        border-radius: 10px;
        background-color: var(--main-background-color);
        width: 100%;
        color: var(--main-text-color);
    }
    input {
        height: 30px;
    }
    input:hover,
    textarea:hover {
        border: var(--hover-color) solid 2px !important;
    }
    input:focus,
    textarea:focus {
        outline: none;
        border: var(--hover-color) solid 2px !important;
    }
    button {
        width: 193px;
        height: 28px;
        border-radius: 10px;
        border: 0px;
        margin: 24px;
        cursor: pointer;
    }
    button[disabled]:hover {
        cursor: not-allowed;
    }
    #agreeCheckbox {
        border: var(--color-text);
    }
}

.data-agreement-section {
    @include center-flex();
}

.police-container {
    color: var(--secondary-color-hover);
    cursor: pointer;
}

.header {
    @include center-flex();
}

.all-text-area {
    gap: 20%;
    width: 100%;
}

.contact-me {
    font-weight: bold;
}

.checkbox-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    align-items: center;
}

.checkbox-text span,
.police-container {
    display: flex;
}

textarea:focus,
.input:focus {
    border: var(--hover-color) solid 2px !important;
}

.background-img {
    position: absolute;
    bottom: 0;
    right: -252px;
    background-size: cover;
}

.sending-button {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: var(--main-background-color);
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.arrow-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 16px 16px 16px;
    .arrow-img {
        position: relative;
        z-index: 50;
        padding: 20px;
        background-repeat: no-repeat;
    }
}

.textarea-container {
    position: relative;
    width: 100%;
    height: 79px;
}

.textarea-container textarea {
    width: 100%;
    height: 38px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    transition: padding-top 0.3s, height 0.3s;
    color: #fff;
}

.textarea-container textarea:focus {
    outline: none;
}

.textarea-placeholder {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 16px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.3s;
}

.textarea-container input:focus+.textarea-placeholder,
.textarea-container textarea:focus+.textarea-placeholder,
.textarea-container textarea:not(:placeholder-shown)+.textarea-placeholder,
.textarea-container input:not(:placeholder-shown)+.textarea-placeholder {
    top: -15px;
    left: 8px;
    font-size: 12px;
}

input:-webkit-autofill {
    background-color: var( --secondary-background) !important;
    -webkit-box-shadow: 0 0 0px 1000px var( --secondary-background) inset !important;
    color: var(--text-color) !important;
    border-radius: 0px !important;
    /* Setze die Textfarbe auf Weiß */
    -webkit-text-fill-color: var(--text-color) !important;
    /* Stellt sicher, dass der Text die weiße Farbe hat */
}

textarea {
    width: 100%;
    height: 38px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    border-color: var(--secondary-color) !important;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

//--
.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    top: -13px;
    left: -5px;
}

.custom-checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--main-background);
    border: 2px solid var(--secondary-color-hover);
    border-radius: 5px;
    position: relative;
    margin: 5px;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slideOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.animated-line {
    height: 2px;
    background-color: grey;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.animated-line {
    height: 2px;
    background-color: grey;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.animated-line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    left: 0;
    top: 0;
}

.slide-in::after {
    background-color: turquoise;
    animation: slideIn 1s forwards;
}

.slide-out::after {
    background-color: turquoise;
    animation: slideOut 1s forwards;
}

.error::after {
    background-color: red !important;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 40px;
    padding-bottom: 24px;
}

app-chevron-icon {
    height: 20px;
}

@media(max-width:1050px) {
    .all-text-area {
        gap: 6%;
    }
}

@media(max-width:950px) {
    .all-text-area {
        gap: 6%;
    }
    .data-agreement-section {
        font-size: 9px;
    }
}


/* Basistyle für die Textarea */

@media(max-width:700px) {
    .all-text-area {
        gap: 20px;
    }
    .all-text-area {
        flex-direction: column;
        align-items: center;
    }
    p {
        display: flex;
    }
    #agreeCheckbox {
        top: 0px;
        left: 0px;
    }
    .data-agreement-section {
        font-size: 14px;
    }
    span,
    p,
    h2 {
        text-align: center;
    }
    .text-contact-me {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .background-img {
        bottom: 0;
        width: 179px;
        right: 0;
    }
}

@media(max-width:500px) {
    section {
        width: 100%
    }
    .text-padding-left {
        padding-left: 16px;
    }
    .right-side {
        width: 100% !important;
        padding-right: 16px;
        padding-left: 16px;
    }
    .right-side {
        span {
            white-space: wrap;
            text-align: start;
        }
    }
}