@import './../../../../styles.scss';
section {
    position: relative;
}

.box {
    flex: 1;
    /* Beide Boxen nehmen den gleichen Platz ein */
    height: 100%;
    /* Nur zur Veranschaulichung */
}

.container-left-text {
    display: flex;
}

#portfolio {
    padding-top: 74px;
}

h3 {
    color: var(--hover-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header-all-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 16px;
}

.header {
    width: 100%;
    h1 {
        margin: 0;
    }
}

.little-line {
    width: 150px !important;
}

.long-line {
    width: 38vw !important;
}

.info-text-right {
    display: flex;
    text-align: start;
    max-width: 470px;
    font-size: 12px;
}

.info-text-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 470px;
}

.container-right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.container-right-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container-left-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    justify-content: center;
}

.all-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.all-text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 48px;
}

.text-right {
    display: flex;
    text-align: start;
}

.text-left {
    display: flex;
    text-align: start;
    max-width: 470px;
    font-size: 12px;
}

.img {
    display: flex;
    height: 351px;
    width: 340px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img {
        height: 351px;
        width: 340px;
    }
}

.chevron-container {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
        color: var(--secondary-color);
        font-size: 9px;
        font-weight: bold;
    }
}

.skill-overlay {}

.skill-container-img-left,
.skill-container-img-right {
    position: relative;
    height: 380px;
}

app-three-js-animation {
    height: auto;
    width: 50%;
}

.skill-container-img-right,
.skill-container-img-left {
    width: 100%;
    display: flex;
    margin-bottom: 80px;
}

.header-container {
    display: flex;
    gap: 8px;
    padding-bottom: 4px;
}

h3,
h4 {
    color: white;
}

h4 {
    padding-bottom: 8px;
}

@keyframes rotateRight {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.rotate-right-animation {
    animation: rotateRight 0.5s ease-in-out;
}

.da-bubble-img {
    border-radius: 20px;
    width: 342px;
    height: 228px;
}

.center {
    display: flex;
    align-items: center;
}

.background-img {
    display: none;
    position: absolute;
    top: 0;
    left: -352px;
    img {
        background-size: cover;
        width: auto;
        height: auto;
    }
}

.button-container {
    padding: 10px;
    width: 100%;
}

@media(max-width:860px) {
    .container-left-text,
    .all-text-right {
        width: 100%;
    }
    .background-img {
        img {
            background-size: cover;
            // width: 519px;
            // height: 477px;
        }
    }
}

@media(max-width:700px) {
    .button-container {
        justify-content: space-around;
    }
    section {
        padding-left: 5%;
        padding-right: 5%;
    }
    .skill-container-img-left {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }
    .skill-container-img-right {
        height: auto;
    }
    .container-right-text {
        width: 100%;
    }
    app-three-js-animation {
        width: 100%;
        height: 350px;
    }
    #portfolio {
        padding-bottom: 80px;
    }
    .long-line,
    .little-line {
        width: 100% !important;
    }
    .skill-container-img-right {
        flex-direction: column;
    }
    .skill-container-img-left {
        flex-direction: column;
    }
    .container-left-text {
        width: 100%;
        align-items: start;
    }
    .container-right-img {
        align-items: center;
        width: 100%;
        height: 285px;
    }
    .text-left {
        text-align: center;
        margin-bottom: 50px;
        max-width: 470px;
    }
    .all-left {
        width: 100%;
        align-items: center;
    }
    .skill-container-img-right {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
    .container-left-img {
        align-items: center;
        width: 100%;
        height: 285px;
    }
    .info-text-right {
        text-align: center;
        margin-bottom: 50px;
    }
    .all-text-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:500px) {
    .container-right-text,
    .container-left-text {}
    .all-text-right {}
    .info-text {
        text-align: center;
        display: flex;
    }
}

@media(max-width:400px) {
    .flix-tube,
    .img-second {
        img {
            width: 257px;
            height: 169px;
        }
    }
}

.deactivate {
    button {
        background-color: grey !important;
    }
}

@media(max-width:500px) {
    .skill-container-img-right {
        padding-left: 0;
    }
    // .info-text-right,
    // .text-left,
    // .info-text {
    //     width: 300px;
    // }
}