<header>

    <div class="top-header">
        <span class="header-logo"><b>B</b></span>
        <span class="header-link rotated-text">About Me
            <div class="line"></div>
        </span>
        <span class="header-link rotated-text">My Skills
            <div class="line"></div>
        </span>
        <span class="header-link rotated-text">Projects
            <div class="line"></div>
        </span>
        <span class="header-link rotated-text">Contact
            <div class="line"></div>
        </span>
    </div>
    <div class="bottom-header">
        <img class="social-icons " src="" alt="linkin">
        <img class="social-icons " src="" alt="github">
        <img class="social-icons" src="" alt="e-mail">
    </div>
</header>