<div style="padding-top:50px;"></div>
@if(translateService.en) {
<h2 class="section-heading ">Meine Tools</h2>
}@if (translateService.en) {
<h2 class="section-heading ">My Tools</h2>
}
<div style="padding-top:50px;"></div>
<div>
    <div class="container-img">
        <img src="" alt="">
        <div>Figma</div>
    </div>
    <div class="container-img">
        <img src="./../../../assets/skills-icons/heroku.svg" alt="">
        <div>Github</div>
    </div>
    <div class="container-img">
        <img src="./../../../assets/skills-icons/heroku.svg" alt="">
        <div>Git</div>
    </div>
    <div class="container-img">
        <img src="./../../../assets/skills-icons/heroku.svg" alt="">
        <div>Gib</div>
    </div>
</div>